body{
    background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, hsl(214,0%,11%),hsl(214,0%,11%));
}
.logotipo{
    width: 160px;
    cursor: pointer;
}

.navBr{
    border-bottom: 15px;
    margin-bottom: 5px;
    filter: drop-shadow(0 0 10px rgba(0,0,0,.8)
    );
}
.carouselModi{
    border-radius: 10px;
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgba(0,0,0,.8)
    );
}

.imgInfo{
    border-radius: 20px;
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgba(0,0,0,.8)
    );
}
.info{
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    filter: drop-shadow(0 0 10px rgba(0,0,0,.8)
    );
}
svg{
    color: white;
    cursor: pointer;
}

.svgSpoty{
    color: white;
}
.svgSpoty:hover{
    color: green;
}
.svgYoutube{
    color: white;
}
.svgYoutube:hover{
    color: red;
}



.Video{
    border-radius: 30px;
    filter: drop-shadow(0 0 10px rgba(0,0,0,.8)
    );
}

hr {
border: 3px solid #666;
border-radius: 300px/10px; 
height: 0px; 
text-align: center;

}
.beatportLogo{
    border: none;
    border-radius: 10px;
    background-color: transparent;
}

.beatportIcon {
    width: 35px;
    cursor: pointer;
}
.TituloCancion{
    color: #000;
    font-weight: bold;
    font-size: 1.4rem;
}

.imgCatalogo{
    cursor: pointer;
    border-radius: 20px;
    filter: drop-shadow(0 0 10px rgba(0,0,0,.8)
    );
}

.textoInfo{
    font-size: 1.7rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.infoContacto{
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imgContacto{
    filter: drop-shadow(0 0 10px rgba(0,0,0,.8)
    );
}

.allReleases{
    border-radius: 10px; 
    filter: drop-shadow(0 0 10px rgba(0,0,0,.8)
    );
}